.container {
	background-color: $grey000;
	width: 96%;
	margin-left: 2%;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 5px;
}

.content-title {
	font-size: 18px;
	padding: 15px;
	font-weight: normal;
}